a {
  text-decoration: none;
  color: $dark-gray;

  &:hover {
    color: $medium-gray;
  }
}

.botoes-tag {
  font-family: $body-font-family;
  font-size: $h4-font-size;
  color: $medium-gray;
  background: $white;
  border: $button-border;
  border-radius: $button-radius;
  //colocar em config
  padding: 8px 10px 10px 8px;
  margin-right: 15px;

  &#info:focus {
    background-color: $categ-laranja;
    border: 1px solid $categ-laranja;
    color: $white;
    outline: none;
  }

  &#forca:focus {
    background-color: $categ-azul;
    border: 1px solid $categ-azul;
    color: $white;
    outline: none;
  }

  &#vivo:focus {
    background-color: $categ-verde;
    border: 1px solid $categ-verde;
    color: $white;
    outline: none;
    position: fixed !important;
  }
}

.selecao-tag {
  //colocar em config
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.download-arquivo {
  //colocar em config
  width: 284px;
  text-align: center;
  font-size: $h4-font-size;
  color: $dark-gray;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #ffffff;
  padding: 5px;
  margin-top: 29px;
}
