a {
  text-decoration: none;
  color: $dark-gray;

  &:hover {
    color: $medium-gray;
  }
}

.selecao-tag {
  //colocar em config
  margin-bottom: 1.32rem;
  padding-left: 0.94rem;
  padding-right: 0.94rem;
}

.botoes-tag {
  font-family: $body-font-family;
  font-size: $h4-font-size;
  color: $medium-gray;
  background: $white;
  border: $button-border;
  border-radius: $button-radius;
  //colocar em config
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  margin-right: 0.94rem;

  &#info:focus {
    background-color: $categ-laranja;
    border: 0.063rem solid $categ-laranja;
    color: $white;
    outline: none;
  }

  &#forca:focus {
    background-color: $categ-azul;
    border: 0.063rem solid $categ-azul;
    color: $white;
    outline: none;
  }

  &#vivo:focus {
    background-color: $categ-verde;
    border: 0.063rem solid $categ-verde;
    color: $white;
    outline: none;
  }
}

#vivo {
  position: fixed;
}


.download-arquivo {
  //colocar em config
  width: 18.48rem;
  text-align: center;
  font-size: $h4-font-size;
  color: $dark-gray;
  border: 0.063rem solid #E3E3E3;
  border-radius: 0.3rem;
  text-decoration: none !important;
  background-color: #ffffff;
  padding: 0.3rem;
  margin-top: 1.8rem;
}

