.img-download{
  height: 1.44rem;
  float: right;
}

.img-pdf{
  height: 1.44rem;
  float: left;
}

.icn-menu {
  float: left;
  padding-left: 0.94rem;
  padding-top: 1rem;
}

.icn-search {
  float: right;
  padding-right: 0.94rem;
  padding-top: 1rem;
}

.icn-time {
  float: right;
  padding-top: 0.44rem;
  padding-right: 0.5rem;
}

.icn-battery {
  float: right;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
}

.icn-reception {
  float: right;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
}

.icn-wifi {
  float: right;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
}
