.img-download{
  height: 1.44rem;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-top: 0.3rem;
}

.img-pdf{
  height: 2rem;
  justify-content: flex-start;
  margin-right: 0.5rem;
}



.icn-menu {
  padding-left: 0.94rem;
  padding-bottom: 0.8rem;
  justify-content: flex-start;
  flex: 0 0 auto;
}

.icn-search {
  padding-right: 0.94rem;
  padding-bottom: 0.8rem;
  justify-content: flex-end;
  flex: 0 0 auto;
}




.icn-time {
  float: right;
  padding-top: 0.44rem;
  padding-right: 0.5rem;
}

.icn-battery {
  float: right;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
}

.icn-reception {
  float: right;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
}

.icn-wifi {
  float: right;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
}
