.img-download{
  height: 32px;
  float: right;
}

.img-pdf{
  height: 32px;
  float: left;
}

.icn-menu {
  float: left;
  padding-left: 15px;
  padding-top: 16px;
}

.icn-search {
  float: right;
  padding-right: 15px;
  padding-top: 16px;
}

.icn-time {
  float: right;
  padding-top: 7px;
  padding-right: 8px;
}

.icn-battery {
  float: right;
  padding-top: 5px;
  padding-right: 8px;
}

.icn-reception {
  float: right;
  padding-top: 5px;
  padding-right: 8px;
}

.icn-wifi {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
