.comunicados {
  width: 346px;
  //colocar em config
  height: 650px;
  background-color: $background;
  //padding-left: 15px;
  //padding-right: 15px;

  .lido-1 {
    background-color: $lido;
  }
}

.listagem-comunicados {
  margin-bottom: 21px;
  padding-left: 15px;
  padding-right: 15px;

  .comunicado-1 {
    width: $listagem-widht;
    height: $listagem-height;
    border-radius: $listagem-radius;
    box-shadow: $listagem-box-shadow;
    position: $listagem-position;
    background-color: $white;
    //colocar em config
    margin-bottom: 14px;
    padding: 10px 10px 10px 15px;
    box-sizing: border-box;
  }
}

#download {
  //colocar em config
  height: 120px;
}

.lido {
  //colocar em config
  opacity: 40%;
}

//borda
@mixin borda($nome-borda, $background) {
  .#{$nome-borda} {
    background-color: $background;
  }
}

.borda-comunicado {
  //colocar em config
  width: 7px;
  background-color: $white;

  @include borda('forca-vendas', '$categ-azul');
  @include borda('informativos-sun', '$categ-laranja');
  @include borda('vivo-ligado', 'categ-verde');
  @include borda('turbine-vendas', 'categ-roxo');
}


//header
.header-search {
  background-color: $categ-roxo;
  //colocar em config
  width: 100%;
  height: 75px;
  margin-bottom: 20px;
}

.header-status {
  background-color: #000;
  opacity: 0.45;
  height: 24px;
  width: 100%;
}
