.comunicados {
  width: $global-width;
  height: $global-height;
  background-color: $background;
  //colocar em config
  //padding-bottom: 4.19rem;

  .lido-1 {
    background-color: $lido;
  }
}

.listagem-comunicados {
  //colocar em config
  padding-left: 0.94rem;
  padding-right: 0.94rem;

  .comunicado-1 {
    width: $listagem-widht;
    height: $listagem-height;
    border-radius: $listagem-radius;
    box-shadow: $listagem-box-shadow;
    position: $listagem-position;
    background-color: $white;
    //colocar em config
    margin-bottom: 0.875rem;
    padding: 0.63rem 0.63rem 0.63rem 15px;
    box-sizing: border-box;
  }
}

#download {
  //colocar em config
  height: 7.5rem;
}

.lido {
  //colocar em config
  opacity: 40%;
}

//borda
@mixin borda($nome-borda, $background) {
  .#{$nome-borda} {
    background-color: $background;
  }
}

.borda-comunicado {
  //colocar em config
  width: 0.44rem;
  background-color: $white;

  @include borda('forca-vendas', '$categ-azul');
  @include borda('informativos-sun', '$categ-laranja');
  @include borda('vivo-ligado', 'categ-verde');
  @include borda('turbine-vendas', 'categ-roxo');
}


//header
.header-search {
  background-color: $categ-roxo;
  //colocar em config
  width: 100%;
  height: 4.69rem;
  margin-bottom: 1.25rem;
}

.header-status {
  //colocar em config
  background-color: #000;
  opacity: 0.45;
  height: 1.5rem;
  width: 100%;
}
