.titulo-principal {
  font-family: $body-font-family;
  font-size: $h4-font-size;
  color: $gray;
  //colocar no config
  margin-bottom: 0.563rem;
}

.titulo-comunicado {
  font-family: $listagem-titulo-font;
  font-weight: $listagem-titulo-weight;
  font-size: $listagem-titulo-size;
  position: $listagem-titulo-position;
  color: $medium-gray;
  //colocar no config
  float: left;
  top: 0.63rem;
  left: 1.19rem;
  margin: 0;
}

.numero-comunicado {
  font-family: $listagem-numero-font;
  font-weight: $listagem-numero-weight;
  font-size: $listagem-numero-size;
  position: $listagem-numero-position;
  color: $medium-gray;
  //colocar no config
  float: right;
  top: 0.63rem;
  right: 0.69rem;
  margin: 0;
}

.categoria-comunicado {
  font-family: $listagem-categoria-font;
  font-weight: $listagem-categoria-weight;
  font-size: $listagem-categoria-size;
  position: $listagem-categoria-position;
  color: $medium-gray;
  //colocar no config
  float: left;
  bottom: 0.63rem;
  left: 1.25rem;
  margin: 0;
}

.data-comunicado {
  font-family: $listagem-data-font;
  font-weight: $listagem-data-weight;
  font-size: $listagem-data-size;
  position: $listagem-data-position;
  color: $font-light-gray;
  //colocar no config
  float: right;
  bottom: 0.63rem;
  right: 0.69rem;
  margin: 0;
}
